@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    background: #eee
}

button {
    border: 0;
}

.payment-page-container {
    margin: 4rem auto;
    padding: 0 35%;
    height: 100%;
    width: 100%;
}

.gpay-card-info-container.new_style {
    border-radius: 0.5rem !important;
    width: 100% !important;
    margin-bottom: 1rem;
    height: 3rem;
}

.submit-card-button {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.submit-card-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.8s;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
    border-radius: 0.5rem !important;
}

.braintree-sheet__header {
    border-bottom: none;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__label {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.braintree-sheet__header .braintree-sheet__text {
    font-size: 1rem;
    font-weight: bold;
}

.apple-pay-button {
    width: 100%;
    height: 2.8rem;
    margin-bottom: 0.7rem;
}

.container .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}

.btn.btn-primary {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.container .card .img-box {
    width: 80px;
    height: 50px;
}

.container .card img {
    width: 100%;
    object-fit: fill;
}

.container .card .number {
    font-size: 24px;
}

.container .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.fab.fa-cc-mastercard {
    font-size: 32px;
    color: red;
}

.fab.fa-cc-discover {
    font-size: 32px;
    color: orange;
}

.c-green {
    color: green;
}

.box {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-control {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
    color: #80868B;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-control:focus + .form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus) + .form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}
